body{
	background-color: #FFF;
	display:table;
	position: absolute;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;

}

.center-line{
	display: table-cell;
	vertical-align: middle;
}

.center-box{
	background-color: #333;
	margin-left: auto;
	margin-right: auto;
	width: 500px;
	text-align: center;
	padding: 50px;
	border-radius: 50px;
	color: #F2F2F2;
}

td{
	white-space: nowrap;
}

a{
	color: inherit;
	text-decoration: none;
}

/**.upload-button{
	background-color: #27c16e;
	position: absolute;
	top: 0;
	right: 0;
	width: 200px;
	height: 50px;
	text-align: center;
	border-radius: 4px;
	color: #F2F2F2;
}
**/

.title{
	color:#555;
	padding-left: 50px;
}

.filler {
	width: 100%;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    color: #6ACEC7;
    font-weight: bold;
}

.top-line, .bottom-line {
	background-color: #fafafa;
	padding: 5px;
	padding-left: 100px;
	padding-right: 100px;
}

.content {
	height: auto;
	display: table-row;
	height: 100%;
}
.content-body {
	display: flex;
	flex-direction:row;
	flex-wrap: wrap;
	padding: 50px;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	align-items:center;
    justify-content: center;
}

.search-result {
	width: 350px;
	height: 350px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.search-result-img {
	background-color: #fafafa;
	border-radius: 10px;
	padding:10px;
	margin-right: 40px;
	max-width: 300px;
	max-height: 300px;
	vertical-align: middle;
}

iframe{
	width: 100%;
	height: 100%;
	border: none; 
}

.videobox{
	background-color: #fafafa;
	border-radius: 10px;
	padding: 0px;
	width: 68%;
	height: 100%;
	box-sizing: border-box;
	display: flex;
	flex-direction:column;
}

.tag-box {
	box-sizing: border-box;
	border: 4px white solid;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	display: table;
	width: 100%;
}

.tag-box .tag-label,
.tag-box .tag-button{
	display: table-cell;
	width: 1px;
	padding-left: 10px;
	padding-right: 10px;
	vertical-align: middle;
	color: white;
	font-weight: bold;
}
.tag-box .tag-button{
	background-color: #fafafa;
}
.tag-box .tag-button.active{
	background-color: transparent;
	cursor: pointer;
}

.tag-box .tag-input{
	margin: 0;
	border-radius: 0;
	display: table-cell;
	width: 100%;
	border:none;
}
.tag-box .tag-input:focus{
	outline: none;
}
