body{
	background-color: #FAFAFA;
	display:table;
	position: absolute;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;

}

p{
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	color: #555555;
	vertical-align: middle;
}

.center-line{
	display: table-cell;
	vertical-align: middle;
}

.center-box{
	background-color: #333;
	margin-left: auto;
	margin-right: auto;
	width: 500px;
	text-align: center;
	padding: 50px;
	border-radius: 50px;
	color: #F2F2F2;
}

td{
	white-space: nowrap;
}

.logo {
	box-sizing: border-box;
	width: 80%;
	height: 100%;
}

a{
	color: inherit;
	text-decoration: none;
}

.title{
	color:#555;
	padding-left: 50px;
}

.filler {
	width: 100%;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    color: #333;
    font-weight: bold;
}

.top-line, .bottom-line {
	background-color: #fafafa;
	padding: 5px;
	padding-left: 100px;
	padding-right: 100px;
}

.content {
	height: auto;
	display: table-row;
	height: 100%;
}
.content-body {
	display: flex;
	flex-direction:row;
	flex-wrap: wrap;
	padding: 50px;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	align-items:center;
    justify-content: center;
}

.search-result {
	width: 350px;
	height: 350px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.search-result-img {
	background-color: #fafafa;
	border-radius: 10px;
	padding:10px;
	margin-right: 40px;
	max-width: 300px;
	max-height: 300px;
	vertical-align: middle;
}

iframe{
    position: relative;
    width: 100%;
	max-height: 56%;
}

.videobox{
	width: 80%;
	height: 100%;
	display: flex;
	flex-direction:column;
}

.tag-box {
	box-sizing: border-box;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	display: table;
	width: 100%;
}

.tag-box .tag-label,
.tag-box .tag-button{
	display: table-cell;
	width: 1px;
	padding-left: 14px;
	color: #ccc;
	font-size: 15px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	white-space: nowrap;
}
.tag-box .tag-button{
	margin-left: -50px;
	
}
.tag-box .tag-button.active{
	color: blue;
	cursor: pointer;
	display: table-cell;
	text-decoration: underline;
}

.tag-box .tag-input{
    width: 100%;
    margin-top: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    border-radius: 2px;
    height: 40px;
}
.tag-input::placeholder {
  color: #ced3d9;
  
}
.tag-box .tag-input:focus{
    border: 1px solid blue;
}
