<!doctype html>
<html>
	<head>
		<title>SYNQ Demo - Upload</title>
		<link href="/static/style.css" rel="stylesheet">
		<script src="/static/app.js" ></script>
		<script>
			window.addEventListener('message', function (event) {
	// Make sure the event is from the synq uploader iframe.
				console.log(event.origin);
	if(event.origin == "https://uploader.synq.fm"){
		eventObj = JSON.parse(event.data);
		// Check if it's an upload complete event.
		if(eventObj.event == "synqUploaderStatusChange" && eventObj.newStatus == "upload successful"){
			// Upload completed successfully. Redirect the user to the frontpage.
			 window.location.href = "https://player.synq.fm/embed/{{ video_id }}";
		}
	}
}, true);
</script>
	</head>
	<body>
		<div class="content">
			<img src="/templates/synq_logo_333.svg" style="width:8%">
			<p>SYNQ Demo</p>
			<p>Use this page to test the video upload and playback functionality of the SYNQ API.</p>
			<div class="content-body">
				<div class="videobox" id="{{ video_id }}">
					<iframe src="{{ uploader_url }}&skin.background=fafafa&skin.progress=0A24FB&skin.text=0A24FB" style="border-radius:4px; border-style:dotted; border-width:medium; border-color:#cccccc;"></iframe>
					<form onsubmit="update_tags();" action="javascript:void(0);">
						<div class = "tag-box">
								<input class="tag-input" type="text" name="tags" id="tags" placeholder="🏷️ Add tags (separate with commas)" oninput="tags_changed(this.value);" {% if tags %} value="{{ tags }}" {% endif %}>
							<div class= "tag-button" id= "tag-button" onClick="update_tags();">
								Add tags
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>
